*{
	padding: 0;
	margin: 0;
}
.flextitle{
	display: flex;
	justify-content: center;
}
h1{
	font-size: 50px;
	font-family: 'Hind Vadodara', sans-serif;
	font-weight: bold;
}
.inputs{
	display: flex;
	justify-content: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
	border-bottom: solid 1px;
}
.input{
	padding-top: 1px;
	padding-bottom: 1px; 
	padding-left: 10px;
}
.button{

	padding-top: 7px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 7px;
	background-color: #25A2B7;
	border-radius: 8px;
	border: solid 1px #F7F7F7;
	font-size: 10px;
	text-decoration: none;
	color:#F7F7F7;
	margin-left:2vw;

	
}
.button:hover{
	background-color: #F7F7F7;
	color: black;
	text-decoration: none; 
}
.flextodos{
	display: flex;
	justify-content: center;
	background-color: #dee1e5;
	border-bottom: solid 1px;
	padding-bottom: 10px;
	padding-top: 10px;
}
#todos{
	
}